{% extends "base.html" %}

{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account/style.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="form-background">
        <section class="form-section">
            <!-- <a href="https://www.uncisal.edu.br/" title="Ir para o site da Uncisal"> -->
                <!-- <div id="unci-logo"></div> -->
            <!-- </a> -->
            {% block form %}

            {% endblock %}
        </section>
        <p class="text-center text-white">Criado por <a href="https://github.com/felipe-fjs">Felipe Joaquim</a></p>
    </div>
</main>
{% endblock %}