{% extends "base.html" %}

{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account/style.css') }}">
{% endblock %}

{% block content %}

    <div class="form-background">
        <section class="form-section">
            <!-- <a href="https://www.uncisal.edu.br/" title="Ir para o site da Uncisal"> -->
                <!-- <div id="unci-logo"></div> -->
            <!-- </a> -->
            {% block form %}

            {% endblock %}
        </section>
    </div>
    
{% endblock %}