{% extends "account/sign/base.html" %}

{% block form %}
    <a href="https://www.uncisal.edu.br/" title="Ir para o site da Uncisal">
        <div id="unci-logo"></div>
    </a>
    <form action="{{ url_for('account.login') }}" method="post">
        <p>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </p>
        <p>
            <label for="pwd">Senha</label>
            <input type="password" name="pwd" id="pwd" class="form-control" required>
            <a href="{{ url_for('account.reset_pwd')}}" id="reset_pwd">Esqueceu a senha?</a>
        </p>
        <p>
            <button type="submit" class="btn btn-success">Entrar</button>
            <a href="{{ url_for('account.signup') }}" class="text-reset text-decoration-none">Registre-se</a>

        </p>
    </form>
{% endblock %}