{% extends "account/sign/base.html" %}

{% block form %}
{% set messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
{% endif %}
<form action="{{ url_for('account.signup')}}" method="post">
    <p>
        <label for="email" class="form-label">Email:</label>
        <input type="email" name="email" id="email" class="form-control" required>
    </p>
    <p>
        <label for="first-name" class="form-label">Primeiro Nome</label>
        <input type="text" name="first-name" id="first-name" class="form-control" required>
    </p>
    <p>
        <label for="last-name" class="form-label">Sobrenome: </label>
        <input type="text" name="last-name" id="last-name" class="form-control" required>
    </p>
    <p>
        <label for="pwd" class="form-label">Senha:</label>
        <input type="password" name="pwd" id="pwd" class='form-control'>
    </p>
    <p>
        <label for="check-pwd" class="form-label">Repita a senha: </label>
        <input type="password" name="check-pwd" id="check-pwd" class='form-control'>
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Continuar</button>
        <a href="{{ url_for('account.login') }}" class="text-reset text-decoration-none">Fazer login</a>
    </p>
</form>
{% endblock %}