<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if events %} home principal {% else %}Home de sub-evento{% endif %}</title>
</head>
<body>
    {% set messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% include "partials/navbar.html" %}

    {% if events %}
        {% for event in events %}
        <a href="{{ url_for('event.event_home', event_id=event.id) }}">
            {{ event.title}}
        </a>
        {% endfor %}
    {% else %}
        <h1>Nenhnum evento cadastrado.</h1>
    {% endif %}
</body>
</html>