{% extends "base.html" %}

{% block title %}Início {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/event/style.css')}}">
{% endblock %}

{% block content %}
    <div class="event-card-section">
        <!-- <section class="alert alert-warning">
            {% set messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </section> -->
        {% if events %}
            {% for event in events %}
                <div class="option-card-background">
                    <a href="{{ url_for('event.event_home', event_id=event.id) }}">
                        <span class="event-card-title">
                            {{ event.title }}
                        </span>
                        <span class="event-card-date">
                            INICIO: {{ event.start }} | TERMINO: {{ event.end }}
                        </span>
                        <span class="event-card-icon">
                            IMG <!--ADICIONAR FUNÇÃO para CHAMAR IMAGEM DO EVENTO event.get_img() , mm,,-->
                        </span>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="option-card no-event-card">
                <span class="no-event-title">Nenhum evento encontrado!</span>
            </div>
        {% endif %}
    </div>

    {% endblock %}
{% block script %}
    <script>
        var main = document.getElementById('main')
        if (window.getComputedStyle(main).alignItems === "center") {
                main.style.alignItems = 'flex-start'
        }
    </script>
{% endblock %}