/* form-background >  */
div#unci-logo {
    background: url(../../images/logo-uncisal.png) no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: 5px auto;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 1.2px rgba(0, 0, 0, 0.485);

    transition: box-shadow 0.3s ease-in-out;
}

.form-control:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.756);
}

#reset_pwd {
    float: right;
    font-size: 12px;
}

a.text-decoration-none:hover {
    text-decoration: solid blue ;
}


.hide {
    display: none;
}

/* PARA PROFILE */
.profile-section {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img {
    width: inherit ;
}

/* PARA TEMPLATE QRCODE */
div#qrcode{
    display: flex;
    justify-content: center;
    align-items: center;
}