/* form-background >  */
.form-background {
    width: 90%;
    border-radius: 10px;
}

div#unci-logo {
    background: url(../../images/logo-uncisal.png) no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: 5px auto;
}

.form-section {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: inherit;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.581);
}

.form-control {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 1.2px rgba(0, 0, 0, 0.485);
    transition: box-shadow 0.7s ease-in-out;
}

.form-control:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.756);
}

#reset_pwd {
    float: right;
    font-size: 12px;
}

a.text-decoration-none:hover {
    text-decoration: solid blue ;
}

@media screen and (min-width:620px) {
    .form-background {
        width: 500px;
        transition: width .5s ease-in-out;
    }
}

.hide {
    display: none;
}

/* PARA PROFILE */
.profile-section {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img {
    width: inherit ;
}
