<nav class="navbar-geral">
    <section class="navbar-link-section">    
            <a href="{{ url_for('home') }}" class="btn navbar-link">Eventos ativos</a>
        
            {% if current_user.is_authenticated %}
                {% if verify_coor_colab() and verify_coor_colab().is_coor %}
                    <a href="{{ url_for('coor.coor_home')}}" class="btn navbar-link">Início de coordenadores</a>
                    <a href="{{ url_for('event.event_new')}}" class="btn navbar-link">Novo evento</a>
                {% endif %}
                <a href="{{ url_for('account.qrcode')}}" class="btn navbar-link">Meu qrcode</a>
                <a href="{{ url_for('account.profile' )}}" class="btn navbar-link">Meu perfil</a>
                <a href="{{ url_for('account.logout')}}" class="btn navbar-link">Sair</a>
            {% else %}
                <a href="{{ url_for('account.login')}}" class="btn navbar-link">Fazer Login</a>
                <a href="{{ url_for('account.signup')}}" class="btn navbar-link">Cadastrar-se</a>
            {% endif %}
    </section>
</nav>