{% extends "base.html" %}

{% block title %}Inicio coordenação {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/event/style.css')}}">
{% endblock %}

{% block content %}
    <div class="option-card-section">
        <a class="text text-reset option-card" href="{{ url_for('coor.get_areas')}}">Ver areas registradas</a> 
        <a class="text text-reset option-card"  href="{{ url_for('coor.get_roles')}}">Ver níveis de permissão registrads</a>
        <a class="text text-reset option-card" href="{{ url_for('coor.new_area')}}">Registrar nova área</a>       
        <a class="text text-reset option-card" href="{{ url_for('event.event_new')}}">Registrar novo evento</a>       
    </div>
{% endblock %}
{% block script %}
    <script>
        var main = document.getElementById('main')
        if (window.getComputedStyle(main).alignItems === "center") {
                main.style.alignItems = 'flex-start'
        }
    </script>
{% endblock %}