<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "partials/navbar.html"%}
    <ul>
        <li><a href="{{ url_for('coor.get_areas')}}">Ver areas registradas</a></li>
        <li><a href="{{ url_for('coor.get_roles')}}">Ver níveis de permissão registradss</a></li>
        <li><a href="{{ url_for('coor.new_area')}}">Registras nova área</a></li>
        <li><a href="{{ url_for('coor.new_role')}}">Registras novo nível de permissão</a></li>
    </ul>
</body>
</html>