<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/geral.css')}}">
    {% block head %} {% endblock %}

</head>
<body>
    <header>
        {% include "partials/navbar.html" %}
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <p class="text-center">
            Criado por <a href="https://github.com/felipe-fjs" class="text-white">Felipe Joaquim</a>
        </p>
    </footer>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>